<html>

<head>
    <meta charset="UTF-8">
    <title>Lyz</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
</head>

<body ng-app="Main">

<div class="container" ng-controller="MainController">

    <div class="row">

        <div class="col-md-4 col-xs-12">
            <h2>TODO</h2>
            <div class="list-group">
                <a href="#" class="list-group-item"
                   ng-repeat="todo in todoList"
                   ng-class="{'list-group-item-danger': todo.style}">
                    <h4 class="list-group-item-heading" ng-click="toggle(todo)">{{ todo.content }}</h4>
                    <p class="list-group-item-text" ng-click="toggle(todo)" ng-show="todo == editing">
                        {{ todo.detail }}
                    </p>
                    <p class="list-group-item-text" ng-click="toggle(todo)">
                        {{ todo.date.year }}/{{ todo.date.month}}/{{ todo.date.day }}
                    </p>
                    <div class="btn-group" ng-show="todo == editing">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                data-target="#edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove('todo', todo)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="move('todo', 'wip', todo)">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2>WIP</h2>
            <div class="list-group">
                <a href="#" class="list-group-item"
                   ng-repeat="wip in wipList"
                   ng-class="{'list-group-item-danger': wip.style}">
                    <h4 class="list-group-item-heading" ng-click="toggle(wip)">{{ wip.content }}</h4>
                    <p class="list-group-item-text" ng-click="toggle(wip)" ng-show="wip == editing">
                        {{ wip.detail }}
                    </p>
                    <p class="list-group-item-text" ng-click="toggle(wip)">
                        {{ wip.date.year }}/{{ wip.date.month}}/{{ wip.date.day }}
                    </p>
                    <div class="btn-group" ng-show="wip == editing">
                        <button type="button" class="btn btn-default btn-sm" ng-click="move('wip', 'todo', wip)">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                data-target="#edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove('wip', wip)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="move('wip', 'done', wip)">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2>Done</h2>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success"
                   ng-repeat="done in doneList">
                    <h4 class="list-group-item-heading" ng-click="toggle(done)">{{ done.content }}</h4>
                    <p class="list-group-item-text" ng-click="toggle(done)" ng-show="done == editing">
                        {{ done.detail }}
                    </p>
                    <p class="list-group-item-text" ng-click="toggle(done)">
                        {{ done.date.year }}/{{ done.date.month}}/{{ done.date.day }}
                    </p>
                    <div class="btn-group" ng-show="done == editing">
                        <button type="button" class="btn btn-default btn-sm" ng-click="move('done', 'wip', done)">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                data-target="#edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove('done', done)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="modal fade" id="edit" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editing: {{ editing.content }}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" ng-submit="update()">
                        <input type="text" class="form-control" ng-model="textEditing"
                               placeholder="{{ editing.content }}"/>
                        <input type="date" class="form-control" ng-model="dateEditing"/>
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notify" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{notification.title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{notification.content}}</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form class="navbar navbar-form navbar-fixed-bottom footer" ng-submit="addTodo()">
        <div class="container">
            <div class="form-group">
                <!--<textarea class="form-control" rows="4" ng-model="textInput"></textarea>-->
                <input type="text" class="form-control" ng-model="textInput"/>
                <input type="date" class="form-control" ng-model="dateInput"/>
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>
    </form>

</div>

</body>

<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/jquery/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="model.js"></script>

</html>
